<!DOCTYPE html>
<html>
<head>
    <title>Miasta</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Miasta</h1>
    <% for (var i = 0; i < cities.length; i++) { %>
        <p><%= cities[i] %></p>
    <% } %>
</body>
</html>
