<!DOCTYPE html>
<html>
<head>
    <title>Miasta</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Miasta</h1>
    <% cities.forEach(function(city) { %>
        <p><%= city.name %></p>
    <% }); %>
    <p>Leszno</p>
    <p>Poznań</p>
    <p>Kalisz</p>
</body>
</html>
